.container_services{
    margin-top: 16%;
    margin-bottom: 17%;
    background-color:#FFFFE8;
    padding: 8%;
}
.container_services h2{
    margin: 0 0 5% 3%;
    font-size: 30px;
}

@media(max-width: 850px){
    .container_services h2{
        margin-bottom: 15%;
    }
}