.container_services {
  padding: 8% 8% 0 8%;
}
.container_services h2 {
  margin: 0 0 5% 3%;
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 850px) {
  .container_services h2 {
    margin-bottom: 15%;
  }
}
