.container_navbar{
    border-radius: 50px;
    margin-inline: 5%;
    padding-inline: 2%;
}
.container_navbar img{
    width: 5%;
    border-radius: 50%;
    margin: 5px 0 5px 0;
    animation: fadeIn 1s ease-in-out;
}
.container_navbar ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.container_navbar_li{
    display: flex;
    gap: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
@media(max-width: 450px){
    .container_navbar img{
        width: 20%;
    }
}