.slider h3 {
  margin: 5% 0 2% 10%;
  font-size: 30px;
  font-weight: 700;
}

@media (max-width: 768px) {
  .slider h3 {
    margin: 10% 0 5% 5%;
    font-size: 22px;
  }
}

.slider-container {
  margin: 5% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mySwiper2 {
  width: 37% !important;
}

@media (max-width: 768px) {
  .mySwiper2 {
    width: 90% !important;
  }
}

.mySwiper {
  height: auto;
  box-sizing: border-box;
  padding: 10px 0;
  width: 80%;
}

@media (max-width: 768px) {
  .mySwiper {
    width: 90%;
  }
}

.mySwiper .swiper-slide {
  width: 25%;
  height: auto;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  width: 100%;
  aspect-ratio: 16/9;
  object-fit: cover;
  border-radius: 8px;
}

.swiper-button-prev,
.swiper-button-next {
  color: black;
}

.custom-picture10 {
  transform: scale(1.2);
  height: 141% !important;
}

@media (max-width: 768px) {
  .custom-picture10 {
    transform: scale(1);
    height: auto !important;
  }
}

.custom-picture11 {
  height: 319px !important;
}
@media (max-width: 768px) {
  .custom-picture11 {
    height: auto !important;
  }
}

.custom-picture12 {
  height: 4px !important;
}
@media (max-width: 768px) {
  .custom-picture12 {
    height: auto !important;
  }
}

.custom-picture4 {
  height: 520px !important;
}
@media (max-width: 768px) {
  .custom-picture4 {
    height: auto !important;
  }
}
.mySwiper2 {
  width: 90% !important;
  max-width: 500px;
}
